@import "abstract/variables";
@import "abstract/mixins";
@import "abstract/functions";

@import "base/base";

.navigation {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8px;

  li a {
    &:link,
    &:visited {
      @include link-style($text-color-light);
    }
  }
}

%btn-style {
  @include link-style($text-color-dark);
  padding: 8px 16px;
  border-radius: 50px;
  width: calc-width();
  text-align: center;
}

.nav__btn {
  display: flex;
  gap: 8px;

  &--main {
    background-color: $secondary-color;
    @extend %btn-style;

    &:hover {
      background-color: darken($secondary-color, 15%);
    }
  }

  &--hot {
    background-color: $tertiary-color;
    @extend %btn-style;

    &:hover {
      background-color: lighten($tertiary-color, 20%);
    }
  }
}
